<!DOCTYPE HTML>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Belly Button Biodiversity</title>
</head>
<body>

    <div class = "container">
        <div class = "row">
            <div class = "col-md-12 jumbotron text-center bg-dark text-white">
                <h1>Belly Button Biodiversity Dashboard</h1>
                <p>Use the interactive charts below to explore the dataset.</p>
            </div>
        </div>

        <div class = "row">
            <div class = "col-12 col-md-2">
                <div class = "card">
                    <h5>SELECT Sample:</h5>
                    <select id="selDataset" onchange="optionChanged(this.value)"></select>
                </div>
                <div class = "card card-primary">
                    <div class = "card-header">
                        <h3 class = "card-title">Sample Metadata</h3>
                    </div>
                    <div id="sample-metadata" class = "card-body"></div>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div id="pie"></div>
            </div>
            <div class="col-12 col-md-5">
                <div id="gauge"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12">
                <div id="bubble"></div>
            </div>
        </div>
    </div>

    <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/bonus.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>